####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false
enableImpactAnalysis=true
##################################
# Organization tokens:
##################################
apiKey=xxx
projectName=multi-project-gradle
projectVersion=
projectToken=
productName=eua-demo
productVersion=
productToken=
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
###########################################################################
includes=**/*.jar
